@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0e1111;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.playlist-container {
  color: white;
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.playlist-card {
  background: #282c34;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.playlist-card:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.playlist-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.playlist-info {
  padding: 10px;
}





/* .playlist-details {
  color: white; 
  background-color: #1c1e22; 
  border-radius: 10px; 
  padding: 1rem;
  margin-bottom: 1rem; 
  transition: transform 0.3s ease-in-out; 
}

.playlist-details:hover {
  transform: translateY(-5px); 
  filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5)); 
} */



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
